.footer {
	display: flex;
	min-height: 307px;
	padding-top: 95px;

	.main-title:after {
		background-color: $white;
	}

	p {
		text-transform: uppercase;
		color: $white;
	}

	a {
		transition: 1s;

		img {
			margin-left: 14px;

			&:hover {
				background-image: url('../images/bird-footer-hover.jpg');
			}
		}
	}
}